<div class="box">
  <h1>Productos</h1>
  <div class="products-box">
    {{#each products.docs}}
      <div class="product-card">
        <h3>{{this.title}}</h3>
        <hr />
        <p>Categoria: {{this.category}}</p>
        <p>Descripción: {{this.description}}</p>
        <p>Precio: $ {{this.price}}</p>
      </div>
    {{/each}}
  </div>
        <div class="Prev">
  {{#if products.hasPrevPage}}
  <a href="{{prevLink}}" class="Prev">
    last
  </a>
  {{/if}}

  {{#if products.hasNextPage}}
  <a href="{{nextLink}}" class="next">
    next
  </a>
  {{/if}}
</div>