<div class="box">
  <h1>Productos</h1>
  <div class="products-box">
    {{#each products.docs}}
      <div class="product-card">
        <h3>{{this.title}}</h3>
        <hr />
        <p>Categoria: {{this.category}}</p>
        <p>Descripción: {{this.description}}</p>
        <p>Precio: $ {{this.price}}</p>
        <button
          onclick="addToCart('{{this._id}}')"
          class="add-to-cart-button"
        >Add to Cart</button>
      </div>
    {{/each}}
  </div>
  <div class="paginate">
    {{#if products.prevPage}}
      <a href="/products?page={{products.prevPage}}" class="prev">previous</a>
    {{/if}}
    {{#if products.nextPage}}
      <a href="/products?page={{products.nextPage}}" class="next">next</a>
    {{/if}}
  </div>
</div>